{% extends 'base.html.twig' %}


{% block title %}Inscription{% endblock %}

{% block body %}


    <h1>Inscription réussie !</h1>

    <p>Vous pouvez maintenant vous <a href="{{ path('app_login')}}">connecter</a>.</p>

{% endblock %}
