{% extends 'base.html.twig' %}


{% block title %}Inscription{% endblock %}

{% block body %}


    <h1>{%trans%}Inscription réussie !{%endtrans%}</h1>

    <p>{%trans%}Vous pouvez maintenant vous {%endtrans%}<a href="{{ path('app_login')}}">{%trans%}connecter{%endtrans%}</a>.</p>

{% endblock %}
