{% extends 'base.html.twig' %}



{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {#<link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   
    
    <title>Quiz</title>
    
    <style>
        #choice {
            height: 256px;
            width: 256px;
            border: 2px solid rgb(0, 0, 0);
            border-radius:10px;
        }
        .btn-america {
            background-image: url('https://cdn3.iconfinder.com/data/icons/countries-and-continents/512/America-512.png');
            background-size: cover;
        }
        .btn-asia {
            background-image: url('https://cdn1.iconfinder.com/data/icons/continents-icons/512/asia-512.png');
            background-size: cover;
        }
        .btn-europe {
            background-image: url('https://cdn1.iconfinder.com/data/icons/continents-icons/512/europe-512.png');
            background-size: cover;
        }
        .btn-africa {
            background-image: url('https://cdn1.iconfinder.com/data/icons/continents-icons/512/africa-512.png');
            background-size: cover;
        }
        .btn-oceania {
            background-image: url('https://cdn1.iconfinder.com/data/icons/continents-icons/512/australia-512.png');
            background-size: cover;
        }
        .btn-us {
            background-image: url('https://cdn3.iconfinder.com/data/icons/us-states/512/USA-256.png');
            background-size: cover;
        }        

        @media screen and (max-width: 992px) {
            #choice {
                height: 180;
                width: 180;
                border: 2px solid rgb(0, 0, 0);
                border-radius:30px;
            }
        }
        @media screen and (max-width: 768px) {
            #choice {
                height: 128;
                width: 128;
                border: 2px solid rgb(0, 0, 0);
                border-radius:20px;
            }
        }</style>

{% endblock %}
{% block body %}

    <h1>C'est la page de quiz !</h1>

    <div class="container my-5" id="maps">
        <h2 class='display-4'>Choose at least one map</h2>
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups"></div>
    <div class="btn-group me-2" role="group" aria-label="First group">
        <input type="checkbox" class="btn-check" id="btncheck1" name="Amérique" autocomplete="off">
        <label class="btn-america  btn-outline-success" id='choice' for="btncheck1">
            <p class="display-6 fw-bold" id='continent'>Amérique</p>
        </label>
        <input type="checkbox" class="btn-check" id="btncheck2" name="Europe" autocomplete="off">
        <label class="btn-europe  btn-outline-success" id='choice' for="btncheck2">
            <p class="display-6 fw-bold" id='continent'>Europe</p>
        </label>
        <input type="checkbox" class="btn-check" id="btncheck3" name="Asia" autocomplete="off">
        <label class="btn-asia  btn-outline-success" id='choice' for="btncheck3">
            <p class="display-6 fw-bold" id='continent'>Asie</p>
        </label>
    </div>
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups"></div>
    <div class="btn-group" role="group" aria-label="First group">
        <input type="checkbox" class="btn-check" id="btncheck4" name="US States" autocomplete="off">
        <label class="btn-us  btn-outline-success" id='choice' id='us states' for="btncheck4">
            <p class="display-6 fw-bold" id='continent'>US States</p>
        </label>
        <input type="checkbox" class="btn-check" id="btncheck5" name="Africa" autocomplete="off">
        <label class="btn-africa  btn-outline-success" id='choice' for="btncheck5">
            <p class="display-6 fw-bold" id='continent'>Afrique</p>
        </label>
        <input type="checkbox" class="btn-check" id="btncheck6" name="Oceania" autocomplete="off">
        <label class="btn-oceania  btn-outline-success" id='choice' for="btncheck6">
            <p class="display-6 fw-bold" id='continent'>Oceanie</p>
        </label>
    </div>        
    </div>

    <button type="button" class="btn btn-info" id='world'>Tout sélectionner</button>
    <br><br>
        
    <div class="d-grid gap-2 col-6 mx-auto">
            {% if is_granted('ROLE_USER')%}
            <button class="btn btn-primary" type="submit" onclick="myFunction( '{{ app.user.getPseudo() }}' )">PLAY RANKED</button>
            {% else %}
            <button class="btn btn-primary" type="submit" onclick="myFunction()">PLAY</button>
            {% endif %}

    </div>

    <script>
        const btn = document.querySelector('#world');
        btn.onclick = checkAll;
        function check(checked = true) {
            const cbs = document.querySelectorAll('input[class="btn-check"]');
            cbs.forEach((cb) => {
                cb.checked = checked;
            });
        }
        function checkAll() {
            check();
            // reassign click event handler
            this.onclick = uncheckAll;
        }
        function uncheckAll() {
            check(false);
            // reassign click event handler
            this.onclick = checkAll;
        }
        function myFunction($user_pseudo="anon"){
            var checkedBoxes = getCheckedBoxes();
            var route = "../flag/";
            route = route.concat(checkedBoxes);
            route = route.concat("/");
            route = route.concat($user_pseudo);
            alert(route);
            window.location.replace(route);
        };

        function getCheckedBoxes() {
            var checkboxes = document.querySelectorAll('input[class="btn-check"]');
            var checkboxesChecked = "";
            // loop over them all
            for (var i=0; i<checkboxes.length; i++) {
                // And stick the checked ones onto an array...
                if (checkboxes[i].checked) {
                    checkboxesChecked = checkboxesChecked.concat(checkboxes[i].name);
                    checkboxesChecked = checkboxesChecked.concat("-");
                }
            }
            // Return the array if it is non-empty, or null
            return checkboxesChecked.length > 0 ? checkboxesChecked : null;
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

{% endblock %}