{% extends 'base.html.twig' %}

{% block title %} Classement {% endblock %}

{% block body %}

    <h1>C'est la page des scores !</h1>

    <p> Mais tu n'es pas dedans c'est dommage ça...</p>

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Pseudo</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr class="table-active">
      <th scope="row"><a href="/compte/{{ user.getId() }}">{{ user.pseudo }}</a></th>
      <td>Non calculé pour l'instant</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}