{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <p style="color:green;">
    {% if (app.user!=null) and (app.user.getId() == user.getId()) %}
        C'est votre compte et vous êtes connecté !
    {% else %}
        Vous consultez le profile de quelqu'un d'autre
    {% endif %}
    </p>

    <h1>{{ user.getPseudo() }}</h1>

    <br>
    <table class="table table-hover">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Score</th>
        </thead>
        <tbody>
            {% for game in user.getGames() %}
            <tr class="table-active">
                <td scope="row">{{ game.getId() }} </td>
                <td scope="row">{{ game.getCategory() }} </td>
                <td scope="row">{{ game.getTotalScore() }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}