{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-md">
    <div class="row">
        <div class="col-11">
            <img class="img-fluid mb-5" src="https://flagcdn.com/{{ current_question.getFlag().getIso() }}.svg">
            <form id="rep">
                <input class="form-control" type="text" name="Answer" id="ans" autofocus=true>
            </form>
            
        </div>
        <div class="col-1 fs-3">
                {% for q in questions%}
                    <div class="row-sm">
                    {% if q.getAsked() == 1 %}
                        <i class="fas fa-stopwatch fa-fw text-warning" width=300></i>
                    {%elseif q.getScore() > 0%}
                        <i class="fas fa-check-circle fa-fw text-success"></i>

                    {%elseif q.getAsked() == 0 %}
                        <i class="fas fa-dot-circle fa-fw text-secondary"></i>
                    {%else%}
                        <i class="fas fa-times-circle fa-fw text-danger"></i>
                    {% endif %}
                    </div>
                {% endfor %}
        </div>
    </div>
</div>
<script>
    var ansform = document.getElementById('rep')
    ansform.addEventListener('submit', function(){
        event.preventDefault();
        var answer = document.getElementById("ans").value;
        if (answer == ""){
            answer = "_"
        }
        var route = "/question/{id_game}/{ans_player}";
        route = route.replace("{id_game}",{{id_game}});
        route = route.replace("{ans_player}",answer);
        window.location.replace(route);
    });
</script>
{% endblock %}
