{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-sm">
    <div class="row">
        <div class="col-11">
            <img class="img-fluid mb-5" src="https://flagcdn.com/{{ current_question.getFlag().getIso() }}.svg">
            <form>
                <input type="text" class="form-control" name="Answer" id="ans" autofocus=true>
            </form>
            
        </div>
        <div class="col-1 fs-3">
                {% for q in questions%}
                    <div class="row-sm">
                    {% if q.getAsked() == 1 %}
                        <i class="fas fa-stopwatch fa-fw text-warning" width=300></i>
                    {%elseif q.getScore() > 0%}
                        <i class="fas fa-check-circle fa-fw text-success"></i>

                    {%elseif q.getScore() == 0 %}
                        <i class="fas fa-times-circle fa-fw text-danger"></i>
                    {%else%}
                        <i class="fas fa-dot-circle fa-fw text-secondary"></i>
                    {% endif %}
                    </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
