{% extends 'base.html.twig' %}

{% block title %}Recap{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="row">
            <div class="col-7">
                    <h1>Résultats du quiz #{{ id_game }}</h1>
                    <h2 class="fw-bolder">Score : {{ game_score }}</h2>
            </div>
            <div class="col-5">
                <div class="overflow-auto" style="max-height: 500px;">
                        {% for question in question_list %}
                        <div class="b"></div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}